<header>
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav0"
        aria-controls="navbarNav0"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav0">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/module">NGModule</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/standalone">Standalone</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
